



/* /overlay da nani in poi */


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.clearfix::after {
   content:"";
   display: table;
   clear: both;
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(109, 113, 116);
}

/* ASIDE */
.menu {
    height: calc(100% - 80px);
    width: 200px;
    background-color: rgb(4,4,4);
    color: rgb(109, 113, 116);
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu .logo {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 10px
}

.menu .logo img {
    height: auto;
    width: 75%;
}

.menu .logo-xs {
    display: none;
}

.menu-icons li {
    display: flex;
    align-items: center;
    padding: 7px 10px;
}

.xs {
    display: none;
}

.menu-icons li:hover {
    color: white;
}

.menu-icons li:first-child {
    color: white;
    border-left: 1px solid yellow;
}

.menu-icons .fas {
    font-size: 17px;
    margin-right: 5px;
}

.playlist {
    margin-top: 10px;
    padding: 10px 10px;
}

.playlist h5 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.crea-playlist {
    display: flex;
    align-items: center;
    padding: 7px 0 10px;
}

.crea-playlist:hover {
    color: white;
}

.crea-playlist:hover .square {
    background-color: white;
}

.square {
    height: 35px;
    width: 35px;
    color: black;
    background-color: rgb(109, 113, 116);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome-playlist {
    list-style: none;
    height: 80px;
    overflow: auto;
}

.nome-playlist li {
    padding: 7px 0;
    font-size: 10px;
}

.nome-playlist li:hover  {
    color: white;
}

.utente {
    padding: 10px 10px;
    padding-right: 30px;
}

.utente .installa {
    padding: 5px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}

.utente>i {
    display: none;
}

.utente .installa:hover {
    color: white;
}

.utente .utenza {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: white;

}

.utente .utenza .iva {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRMSb7ljylKd3xU9oXuSwExWyZ8WP8up8wdVQ&usqp=CAU");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.utente .utenza p {
    margin-left: 15px;
}

/* MAIN */
.music {
    float: left;
    width: calc(100% - 200px);
    background: rgb(10,10,10);
    background: linear-gradient(128deg, rgba(10,10,10,1) 0%, rgba(36,47,35,1) 37%, rgba(87,136,16,1) 100%);
    margin-left: 200px;
    padding-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;

}

.music .upgrade {
    height: 80px;
    width: calc(100% - 200px);
    background-color: rgb(9,9,9);
    opacity: .9;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 100;

}

.music .upgrade button {
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px 5px;
    padding: 5px 40px;
    border: 1px solid white;
    border-radius: 40px;
    background-color: rgb(9,9,9);
    color: white;
}

.music .upgrade button:hover {
    transform: scale(1.1);
}

.music .navbar {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.music .navbar .menu-navbar {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.music .navbar .menu-navbar li {
    padding: 0 15px;
    text-transform: uppercase;
    color: rgb(109, 113, 116);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music .navbar .menu-navbar li:hover {
    color: white;
}

.music .navbar .menu-navbar li hr {
    width: 40%;
    border: 1px solid yellow;
}

.music .sezione {
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}


.music .sezione .titolo-sezione h2 {
    font-size: 20px;
    color: white;
}

.music .sezione .row-sezione{
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.music .sezione .row-sezione .card-music {
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 150px;
}

.music .sezione .row-sezione .card-music img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.img-overlay {
    position: relative;
    width: 150px;
    height: 150px;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: none;
}

.overlay.quadrato {
    border-radius: 0px;
}

.overlay i {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.music .sezione .row-sezione .card-music .img-overlay:hover .overlay {
    display: block;
    z-index: 2;
}

.music .sezione .row-sezione .card-music.quadrata img {
    border-radius: 0px;
}

.music .sezione .row-sezione .card-music h4 {
    font-size: 15px;
    color: white;
}

.music .sezione .row-sezione .card-music p {
    font-size: 12px;
}



/* Player */
.player {
    width: 100vw;
    height: 80px;
    background-color: rgb(30,30,30);
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.player .in-riproduzione {
    /* width: 200px; */
    height: 100%;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 200px;
}

.player .in-riproduzione .in-riproduzione-brano {
    display: flex;
    align-items: center;
}

.player .in-riproduzione .in-riproduzione-brano img {
    width: 50px;
    height: 50px;
}

.player .in-riproduzione .in-riproduzione-brano .brano-titolo {
    padding: 0 10px;
}

.player .in-riproduzione .in-riproduzione-brano .brano-titolo h4 {
    color: white;
}

.player .in-riproduzione .in-riproduzione-brano .brano-titolo p {
    font-size: 11px;
}

.player .in-riproduzione .in-riproduzione-brano .brano-titolo p:hover {
    color: white;
    text-decoration: underline;
}

.in-riproduzione-icone i:hover {
    color: white;
}

.player .play {
    flex: 0 1 400px;
    margin: 0 10px;

}

.player .play .play-tasti {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .play .play-tasti i {
    padding: 0 5px;
    color: white;
}

.player .play .play-tasti i.fa-play-circle {
    padding: 0 10px;
    font-size: 25px;
}

.player .play .play-tasti .fa-play-circle:hover {
    transform: scale(1.2);
}


.play .play-tempo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.play .play-tempo span {
    margin: 0 20px;
}

.play .play-tempo .tempo-barra {
    height: 1px;
    border: 1px solid rgb(109, 113, 116);
    position: relative;
    flex: 0 1 300px;
    min-width: 100px;

}

.play .play-tempo .tempo-barra .cerchio {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 20%;
    transform: translate(-50% , -50%);
    display: none;
    z-index: 1;
}

.play .play-tempo .tempo-barra .tempo-barra-bianca {
    width: 20%;
    border: 1px solid white;
    position: absolute;
    transform: translate( 0, -50% );
}

.play .play-tempo .tempo-barra:hover .tempo-barra-bianca {
    border-color: yellow;
}

.play .play-tempo .tempo-barra:hover .cerchio {
    display: block;
}

.volume {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 20px;
    flex: 0 0 200px;
}

.volume i {
    padding: 0 7px;
    font-size: 11px;
}


.volume .volume-barra {
    width: 100px;
    border: 1px solid rgb(109, 113, 116);
    position: relative;

}

.cerchio-volume {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 20%;
    transform: translate(-50% , -50%);
    display: none;
    z-index: 1;
}


.volume .volume-barra .volume-barra-bianca {
    width: 20%;
    border: 1px solid white;
    position: absolute;
    transform: translate( 0, -50% );
}

.volume .volume-barra:hover .cerchio-volume {
    display: block;
}

.volume .volume-barra:hover .volume-barra-bianca {
    border-color: yellow;
}


@media screen and (max-width: 767px) {
    .menu {
        width: 50px;
    }

    .menu .logo {
        display: none;
    }

    .menu .logo-xs {
        height: 50%;
        display: block;
        filter: invert(100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu .logo-xs img {
        height: auto;
        width: 60%;
    }

    .menu-icons:not(.xs) {
        display: none;
    }

    .xs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    .playlist {
        display: none;
    }

    .installa {
        display: none;
    }

    .utente {
        padding: 10px 10px;
    }

    .utente>i {
        display: block;
        font-size: 15px;
        padding-left: 7px;
    }

    .utenza .iva {
        margin: 10px auto;
    }


    .utenza p {
        display: none;
    }

    .music {
        width: calc(100% - 50px);
        margin-left: 49px;
    }

    .music .upgrade {
        width: calc(100% - 50px);
        margin-left: 49px;
    }
}
